th,
td {
    padding: 3px;
}

input {
    margin: 5px;
}

#comboTable {
    border-style: solid; border-width: 1px;
}

.multiHitMove {
    background-color: #ddd;
    border-spacing: 0px;
}

.inSpark {
    background-color: #f77;
}

.modifiedNormal {
    border-color: black;
    border-width: 1px;
}
